{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}
<h1>「{{ book.title }}」に対するあなたのレビュー一覧</h2>
{% endblock %}

{% block content %}
<br>
<p><strong>著者：</strong> {{ book.author }}</p>

{% if reviews %}
    {% for review in reviews %}
    <div class="card mb-3">
        <div class="card-header">
            投稿日: {{ review.created_at|date:"Y年m月d日 H:i" }}
        </div>
        <div class="card-body">
            <p><strong>評価:</strong><br>
            {% for i in "12345" %}
                {% if forloop.counter <= review.rating %}
                    ★
                {% else %}
                    ☆
                {% endif %}
            {% endfor %}
            </p>
            <p><strong>本文:</strong><br>{{ review.review_text }}</p>
        </div>
    </div>
    {% endfor %}
{% else %}
    <p>この本に対するあなたのレビューはまだありません。</p>
{% endif %}

<a href="/borrowing_history/1" class="btn btn-secondary mt-3">Back</a>
{% endblock %}