{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% block title %}
<div class="h1">Passward Reset</div>
{% endblock %}

{% block content %}
<form action="" method="POST">
    {{ form.non_field_errors }}
    <br>
    {% bootstrap_form form layout='horizontal' %}
    {% csrf_token %}
    <br/>
    <div class="form-group row">
      <div class="col-6">
        <a href="{% url 'accounts:index' %}" class="btn btn-secondary">Back</a>
        <button type="submit" class="btn btn-primary btn-block">送信</button>
      </div>
    </div>
</form>
{% endblock %}