{% extends 'base.html' %}
{% load django_bootstrap5 %}


{% block title %}
<div class="h1">アカウント管理</div>
{% endblock %}

{% block content %}
{% if user.is_authenticated and user.is_staff %}
<br>
<form method="POST">
    {% csrf_token %}

    <label for="exampleDataList" class="form-label">ユーザーネーム</label>
    <input class="form-control" list="username" name="username">
    <datalist id="username">
        {% for item in data %}
        <option value={{item.username}}>
        {% endfor %}
    </datalist>
    <button type="submit" class="btn btn-secondary mt-2">Search</button>
</form>
<hr>
<table class="table">
    <tr>
        <th>ユーザーネーム</th>
        <th>姓名</th>
        <th>メールアドレス</th>
    </tr>
    {% for item in data_p %}
    <tr>
        <td>{{item.username}}</td>
        <td>{{item.last_name}} {{item.first_name}}</td>
        <td>{{item.email}}</td>
        <td><a href="{% url 'accounts:staff_accounts_change' item.username %}">Edit</a></td>
    </tr>
    {% endfor %}
</table>
{% include 'accounts/page.html' %}
<a href="{% url 'accounts:index' %}" class="btn btn-secondary">Back</a>
{% else %}
<p>権限がありません。</p>
<a href="{% url 'accounts:index' %}" class="btn btn-secondary">ホームに戻る</a>
{% endif %}
{% endblock %}