{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}
<div class="h1">本棚　<a href="{% url 'accounts:index' %}" class="btn btn-lg btn-secondary">Back</a></div>
{% endblock %}

{% block content %}
<br><p>貸出可能な本をランダムに表示しています。画像をクリックすると本の詳細を見ることが出来ます。</p>
<div class="container-fluid">
    <div class="row gy-2">
        {% for item in data_p %}
        <div class="col my-box">
        <th><td>
        {% if not item.is_borrowed %}
            {% if item.cover %}
            <a href="{% url 'books:book_detail' item.pk %}"><img src="{{item.cover}}" alt="カバー画像" title="{{item.title}}" width="100" /></a>
            {% else %}
            <div  style="width:100px;"><a href="{% url 'books:book_detail' item.pk %}" title="{{item.title}}">{{ item.title|slice:":7" }}</a></div>
            {% endif %}
        {% endif %}
        </td></th>
        </div>
        {% endfor %}
        </tr>
        </table>
    </div>
</div>
<br>
{% include 'accounts/page.html' %}

{% endblock %}