{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}
<div class="h1">本棚　<a href="{% url 'accounts:index' %}" class="btn btn-lg btn-secondary">Back</a></div>
{% endblock %}

{% block content %}
<br><p>貸出可能な本をランダムに表示しています。画像をクリックすると本の詳細を見ることが出来ます。</p>

<div class="container-fluid">
    <div class="table-responsive">
    <table class="table">
        <tbody>
            <tr>
                {% for item in data_p %}
                {% if not item.is_borrowed %}
                
                <td style="width: 80px; text-align: center;">
                    {% if item.cover %}
                    <a href="{% url 'books:book_detail' item.pk %}">
                        <img src="{{ item.cover }}" alt="カバー画像" title="{{ item.title }}" style="height: 113px; object-fit: cover;">
                    </a>
                    {% else %}
                    <a href="{% url 'books:book_detail' item.pk %}" title="{{ item.title }}">{{ item.title|slice:":7" }}
                    {% endif %}
                </td>

                {% if forloop.counter|divisibleby:10 and not forloop.last %}
                </tr><tr>
                {% endif %}

                {% endif %}
                {% endfor %}
            </tr>
        </tbody>
    </table>
    </div>
    <br>
    {% include 'accounts/page.html' %}
</div>
{% endblock %}