{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% block title %}
    <div class="h1">Add Book</div>
{% endblock %}

{% block content %}
{% if user.is_authenticated and user.is_staff %}
    <!-- ISBN検索フォーム -->
    <form method="GET" autocomplete="off">
        {% csrf_token %}
        <label for="isbn">ISBNを入力してください：</label>
        <input type="text" id="isbn" name="isbn" class="form-control" value="{{ request.GET.isbn }}" required>
        <button type="submit" class="btn btn-secondary mt-2">検索</button>
    </form>

    <!-- 新規書籍作成フォーム -->
    {% if form %}
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}
            <a href="{% url 'accounts:index' %}" class="btn btn-secondary mt-2">Back</a>
            <button type="submit" class="btn btn-primary mt-2">保存</button>
            
        </form>
    {% endif %}
{% else %}
<p>権限がありません。</p>
<a href="{% url 'accounts:index' %}" class="btn btn-secondary">ホームに戻る</a>
{% endif %}
{% endblock %}